<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
</head>
<body>
    <h2>Write New Chat...</h2>
    <form method="POST"  action="/chats">
        <input type="text" placeholder="who are you?" name="from"><br><br>
        <textarea name="message" id="" cols="20" rows="6" placeholder=" your messsage here..."></textarea><br><br>
        <input type="text" placeholder="Add receiver" name="to"><br><br>
        <button>Create Chat</button> <br>
    </form>
</body>
</html>